server:
  port: 8888

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sharankumarrathod/smartcart-microservices
          search-paths: config-repo
          default-label: main
